/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  height: 12vh;
  margin-top: -2%;
  width: 107%;
  background-color: #b4131d;
  box-shadow: 3px 3px 3px #2e2e2e;
  position:fixed;
  /*opacity: .75;*/
}

body {
  color: white;
  background-color: #141414;
 /* text-align: center;*/
  /*text-shadow: 3px 3px black;*/
  font-family: helvetica;
  display: inline;
}

li {
  display: block;
}

#logo {
  height:8vh;
  margin-top: 1%;
  margin-left: 3%;
  display:inline-block;
  opacity: 1;
}
#tag {
  display: inline-block;
  margin-left: 3%;
  margin-top: -3%
}
#grills {
  display: inline-block;
  position: relative;
  /*margin-top: 15%;*/
 /* width: 40%;*/
}

img {
  width: 300px;
  height: 168.75px;
  /*margin-left: 40%;*/
  /*margin-right: 50%;*/
}

input[type = submit] {
  color: white;
}

#watchin, #bbq, #search {
  display: inline-block;
  float:right;
  margin-right: 110px;
  margin-top: 30px;
}
 #watchin, #search {
  margin-right: 30px;
  }

  #featured {
    margin-top: 12vh;
    margin-left: 2%;
  }
