
<img id="logo" src="http://i.imgur.com/pxVIrYe.png" alt="">
<p>TV and steaks, everyone's favorites</p>
<form action="get" id='bbq'>
  <input type="submit" value="Your Netflix BBQueue" name='bbq'>
</form>

  <div id="grill-container">
    <div class="eight columns" id="shows">
      <h2 id='featured'>Featured Programing</h2>
      <form action="get" id="watchin">
        <input type="text" placeholder="Title" name="title" value="">
        <input type="submit" name="Seach">
      </form>
      <div  id="show-list">
        <!--  shows will be rendered -->
      </div>
    </div>
  </div>
    <div class="four colums" id="grills">
      <h2>From the Grill</h2>
      <form action="get" id='grillin'>
        <select name="meats">
          <option value="steak">Steak</option>
          <option value="pork">Pork</option>
          <option value="chicken">Chicken</option>
          <option value="ribs">Ribs</option>
        </select>
        <input type="submit" name="Search">
      </form>
      <div id="grill">

     </div>
    </div>


