<h1>Netflix and Grill</h1>
<p>TV and steaks, everyone's favorites</p>
<div id="grill-container">
  <div id="shows">
    <h2>On the TV</h2>
  </div>
  <div id="grills">
    <h2>From the Grill</h2>
    <div id="grill">
      <!--  albums will be rendered -->
    </div>
  </div>

</div>
