<header>
  <img id="logo" src="http://i.imgur.com/pxVIrYe.png" alt="">
  <div id="tag">
    <p>TV and steaks, everyone's favorites</p>
  </div>
<form action="get" id='bbq'>
  <input type="submit" value="Your Netflix BBQueue" name='bbq'>
</form>
  <form action="get" id="watchin">
        <input type="hidden" placeholder="Title" name="title" value="" id="searchBar">
  </form>
        <form action="" id="search">
        <input type="submit" name="Search" value="Search">
        </form>
</header>

  <div id="grill-container">
    <div class="twelve columns" id="shows">
      <h2 id='featured'>Search shows by title or display your Netflix BBQueue</h2>

      <div  id="show-list">
        <!--  shows will be rendered -->
      </div>
    </div>
  </div>
   <!--  <div class="four colums" id="grills">
      <h2>From the Grill</h2>
      <form action="get" id='grillin'>
        <select name="meats">
          <option value="steak">Steak</option>
          <option value="pork">Pork</option>
          <option value="chicken">Chicken</option>
          <option value="ribs">Ribs</option>
        </select>
        <input type="submit" name="Search">
      </form>
      <div id="grill">

     </div>
    </div> -->


